# System
.DS_Store

# Environment files
.env

# Build output
dist/
dist-server/

# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/

# macOS
.Spotlight-V100
.Trashes
